body {
  color: #333;
  background: #fff;
  line-height: 1.8;
  letter-spacing: 0.05em;
}

a {
  color: #000;
  text-decoration: none;
}

p {
  font-size: 12px;
}

.instalogo {
  width: 30px;
  height: 30px;
}

.next-page {
  text-align: center;
  margin: 160px 0;
}
.next-page a {
  display: inline-block;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
  transition: 0.3s;
}
.next-page a:hover {
  opacity: 0.6;
  letter-spacing: 3px;
  transition-duration: 1s;
}

.fadein {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 5s ease, transform 5s ease;
}

.fadein.show {
  opacity: 1;
  transform: translateY(0);
}

.other {
  height: 300px;
  margin-bottom: 300px;
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 1001;
}
.other a {
  display: block;
}
.other a:hover {
  color: #525151;
  letter-spacing: 3px;
  transition-duration: 1s;
}
.other .mask {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  z-index: 998;
  display: flex;
  flex-direction: column;
}
.other .menu {
  position: fixed;
  top: 0;
  right: -320px;
  width: 320px;
  height: 100vh;
  background: #333333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  transition: right 0.4s ease;
  z-index: 999;
}
.other .menu a {
  color: #333;
  font-size: 15px;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}
.other .menu a:hover {
  opacity: 0.6;
}

.toggle_btn {
  position: fixed;
  top: 40px;
  right: 40px;
  width: 32px;
  height: 24px;
  cursor: pointer;
  z-index: 1001;
}
.toggle_btn span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #333;
  transition: all 0.4s ease;
}
.toggle_btn span:nth-child(1) {
  top: 0;
}
.toggle_btn span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.toggle_btn span:nth-child(3) {
  bottom: 0;
}

body.open a {
  color: white;
}
body.open .toggle_btn span {
  background-color: #1A9E3F;
}
body.open .toggle_btn span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
body.open .toggle_btn span:nth-child(2) {
  opacity: 0;
}
body.open .toggle_btn span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}
body.open .mask {
  opacity: 1;
  visibility: visible;
}
body.open .mask .menu {
  right: 0;
}
body.open .other a {
  right: 0;
  left: auto;
  color: white;
  position: relative;
}

.toggle_btn:hover span {
  background-color: #1A9E3F;
}

.index h1 {
  text-align: center;
  margin: 20px 0;
}
@media (max-width: 900px) {
  .index h1 {
    font-size: 24px;
  }
}
.index .fv-area {
  display: flex;
  align-items: center;
}
@media (max-width: 900px) {
  .index .fv-area {
    display: flex;
    flex-direction: column-reverse;
  }
}
.index header {
  width: 20%;
}
@media (max-width: 900px) {
  .index header {
    margin-top: 20px;
  }
}
.index header ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  list-style: none;
}
.index header ul a:hover {
  opacity: 0.6;
  letter-spacing: 3px;
  transition-duration: 0.5s;
}
.index .mainvisual {
  width: 70%;
}
.index .mainvisual img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  display: block;
}
@media (max-width: 900px) {
  .index .mainvisual img {
    height: 200px;
  }
}
.index .btn {
  text-align: center;
  margin-top: 50px;
}
@media (max-width: 900px) {
  .index .btn {
    margin-top: 20px;
  }
}
.index .btn:hover {
  opacity: 0.6;
  letter-spacing: 3px;
  transition-duration: 1s;
}

.photo-page {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.photo-page h1 {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 0px;
  transform: translateY(-50%) rotate(-90deg);
  letter-spacing: 0.1em;
  color: rgb(51, 51, 51);
}
@media (max-width: 900px) {
  .photo-page h1 {
    display: none;
  }
}
.photo-page .container {
  margin-top: 100px;
}
.photo-page .container .photo-section {
  margin-bottom: 200px;
}
@media (max-width: 900px) {
  .photo-page .container .photo-section {
    margin-bottom: 150px;
  }
}
.photo-page .container .photo-section h2 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 40px;
  letter-spacing: 0.1em;
}
.photo-page .container .photo-section .ldk-1 {
  margin-bottom: 200px;
}
.photo-page .container .photo-section .ldk-1 img:nth-of-type(1) {
  width: 600px;
  height: 100%;
  margin-left: 100px;
}
@media (max-width: 900px) {
  .photo-page .container .photo-section .ldk-1 img:nth-of-type(1) {
    width: 100%;
    margin-left: 0;
  }
}
.photo-page .container .photo-section .ldk-1 img:nth-of-type(2) {
  width: 250px;
  height: 100%;
  margin-left: 200px;
  position: relative;
  top: 100px;
}
@media (max-width: 900px) {
  .photo-page .container .photo-section .ldk-1 img:nth-of-type(2) {
    width: 40%;
  }
}
.photo-page .container .photo-section .ldk-2 {
  margin-bottom: 200px;
}
.photo-page .container .photo-section .ldk-2 img:nth-of-type(1) {
  width: 250px;
  height: 100%;
  margin-left: 100px;
}
.photo-page .container .photo-section .ldk-2 img:nth-of-type(2) {
  width: 600px;
  height: 100%;
  margin-left: 200px;
  position: relative;
  top: 50px;
}
@media (max-width: 900px) {
  .photo-page .container .photo-section .ldk-2 img:nth-of-type(2) {
    width: 100%;
    margin-left: 0;
  }
}
.photo-page .container .photo-section .ldk-3 img:nth-of-type(1) {
  width: 500px;
  height: 100%;
  margin-left: 100px;
  position: relative;
  top: 100px;
}
@media (max-width: 900px) {
  .photo-page .container .photo-section .ldk-3 img:nth-of-type(1) {
    width: 90%;
    margin-left: 0;
    top: 0;
  }
}
.photo-page .container .photo-section .ldk-3 img:nth-of-type(2) {
  width: 250px;
  height: 100%;
  margin-left: 200px;
}
@media (max-width: 900px) {
  .photo-page .container .photo-section .ldk-3 img:nth-of-type(2) {
    margin-left: 0;
    margin-top: 100px;
  }
}
.photo-page .container .photo-section .koagari-1 img:nth-of-type(1) {
  width: 400px;
  height: 100%;
  margin-left: 100px;
  position: relative;
  top: 50px;
}
@media (max-width: 900px) {
  .photo-page .container .photo-section .koagari-1 img:nth-of-type(1) {
    width: 100%;
    margin-left: 0;
  }
}
.photo-page .container .photo-section .koagari-1 img:nth-of-type(2) {
  width: 400px;
  height: 100%;
  margin-left: 200px;
}
@media (max-width: 900px) {
  .photo-page .container .photo-section .koagari-1 img:nth-of-type(2) {
    width: 100%;
    margin-left: 0;
    margin-top: 100px;
  }
}
@media (max-width: 900px) {
  .photo-page .container .photo-section .bedroom-1 {
    display: flex;
    gap: 4%;
  }
}
.photo-page .container .photo-section .bedroom-1 img:nth-of-type(1) {
  width: 500px;
  height: 100%;
  margin-left: 100px;
}
@media (max-width: 900px) {
  .photo-page .container .photo-section .bedroom-1 img:nth-of-type(1) {
    width: 48%;
    margin-left: 0;
    margin-top: 100px;
  }
}
.photo-page .container .photo-section .bedroom-1 img:nth-of-type(2) {
  width: 300px;
  height: 100%;
  margin-left: 200px;
  position: relative;
  bottom: 100px;
}
@media (max-width: 900px) {
  .photo-page .container .photo-section .bedroom-1 img:nth-of-type(2) {
    width: 48%;
    margin-left: 0;
    top: 0;
  }
}
@media (max-width: 900px) {
  .photo-page .container .photo-section .washroom-1 {
    display: flex;
    gap: 4%;
  }
}
.photo-page .container .photo-section .washroom-1 img:nth-of-type(1) {
  width: 400px;
  height: 100%;
  margin-left: 100px;
}
@media (max-width: 900px) {
  .photo-page .container .photo-section .washroom-1 img:nth-of-type(1) {
    width: 48%;
    margin-left: 0;
  }
}
.photo-page .container .photo-section .washroom-1 img:nth-of-type(2) {
  width: 300px;
  height: 100%;
  margin-left: 200px;
  position: relative;
  bottom: 150px;
}
@media (max-width: 900px) {
  .photo-page .container .photo-section .washroom-1 img:nth-of-type(2) {
    width: 48%;
    margin-left: 0;
    margin-top: 100px;
    bottom: 0;
  }
}
@media (max-width: 900px) {
  .photo-page .container .photo-section .restroom-1 {
    display: flex;
    gap: 4%;
  }
}
.photo-page .container .photo-section .restroom-1 img:nth-of-type(1) {
  width: 400px;
  height: 100%;
  margin-left: 100px;
  position: relative;
  top: 100px;
}
@media (max-width: 900px) {
  .photo-page .container .photo-section .restroom-1 img:nth-of-type(1) {
    width: 48%;
    margin-left: 0;
    margin-top: 100px;
    top: 0;
  }
}
.photo-page .container .photo-section .restroom-1 img:nth-of-type(2) {
  width: 300px;
  height: 100%;
  margin-left: 200px;
  position: relative;
}
@media (max-width: 900px) {
  .photo-page .container .photo-section .restroom-1 img:nth-of-type(2) {
    width: 48%;
    margin-left: 0;
  }
}
.photo-page .container .photo-section .photo-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.photo-page .container .photo-section .photo-list .ldk {
  width: 100%;
}
.photo-page .container .photo-section .photo-list .ldk img {
  width: 100%;
  height: 100%;
}

.guide-page {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.guide-page h1 {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 0px;
  transform: translateY(-50%) rotate(-90deg);
  letter-spacing: 0.1em;
  color: rgb(51, 51, 51);
}
@media (max-width: 900px) {
  .guide-page h1 {
    display: none;
  }
}
.guide-page .guide-section {
  margin-bottom: 180px;
}
@media (max-width: 900px) {
  .guide-page .guide-section {
    margin-bottom: 50px;
  }
}
.guide-page .guide-section h2 {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin-bottom: 40px;
}
.guide-page .guide-section p {
  line-height: 2;
}
.guide-page .concept {
  align-items: center;
}
.guide-page .concept img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  display: block;
  margin-top: 100px;
}
@media (max-width: 900px) {
  .guide-page .concept img {
    height: 200px;
  }
}
.guide-page .concept .inner {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
.guide-page .concept .inner .sp-br {
  display: none;
}
@media (max-width: 900px) {
  .guide-page .concept .inner .sp-br {
    display: block;
  }
}
.guide-page .outline {
  text-align: center;
}
.guide-page .outline p {
  max-width: 700px;
  margin: 0 auto 40px;
}
.guide-page .outline p .sp-br {
  display: none;
}
@media (max-width: 900px) {
  .guide-page .outline p .sp-br {
    display: block;
  }
}
.guide-page .outline img {
  width: 100%;
  max-width: 900px;
  margin: 0 auto 50px;
  display: block;
}
.guide-page .pdf-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.guide-page .pdf-links li a {
  border-bottom: 1px solid #333;
  padding-bottom: 4px;
  transition: 0.3s;
}
@media (max-width: 900px) {
  .guide-page .pdf-links li a {
    font-size: 12px;
  }
}
.guide-page .pdf-links li a:hover {
  opacity: 0.6;
}
.guide-page .detail-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
@media (max-width: 900px) {
  .guide-page .detail-gallery {
    gap: 10px;
  }
}
.guide-page .detail-gallery img {
  width: 100%;
  display: block;
  aspect-ratio: 4/3;
  object-fit: cover;
}

.price-page {
  width: 90%;
  max-width: 1400px;
  margin: 100px auto;
}
.price-page h1 {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 0px;
  transform: translateY(-50%) rotate(-90deg);
  letter-spacing: 0.1em;
  color: rgb(51, 51, 51);
}
@media (max-width: 900px) {
  .price-page h1 {
    display: none;
  }
}
.price-page section {
  width: 100%;
}
.price-page .price .info-price {
  background-color: #efeded;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 10px;
  display: flex;
  gap: 20px;
}
@media (max-width: 900px) {
  .price-page .price .info-price {
    flex-direction: column;
    height: 100%;
  }
}
.price-page .price .info-price .info-left {
  width: 45%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 900px) {
  .price-page .price .info-price .info-left {
    width: 95%;
  }
}
.price-page .price .info-price .info-left h2 {
  font-size: 1rem;
  font-weight: 400;
  max-width: 900px;
  margin-bottom: 20px;
}
.price-page .price .info-price .info-left .hour {
  width: 200px;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 15px;
  margin-bottom: 30px;
  font-size: 12px;
}
.price-page .price .info-price .info-left .hour dt {
  padding: 5px;
  border: 1px solid #575757;
}
.price-page .price .info-price .info-left .hour dd {
  padding: 5px;
}
.price-page .price .info-price .info-left .notes li {
  margin-bottom: 10px;
  font-size: 12px;
  text-decoration: none;
  list-style-position: inside;
}
.price-page .price .info-price .info-right {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}
@media (max-width: 900px) {
  .price-page .price .info-price .info-right {
    width: 95%;
  }
}
.price-page .price .info-price .info-right .card {
  border: 1px solid #ddd;
  padding: 5px 0 5px 20px;
  background-color: white;
}
.price-page .price .info-price .info-right .card .plan {
  margin-bottom: 20px;
  font-size: 0.9rem;
}
.price-page .price .info-price .info-right .card .price {
  margin-bottom: 20px;
  font-size: 16px;
}
.price-page .price .info-price .info-right .card .price span {
  font-size: 0.8rem;
}
.price-page .cancel {
  max-width: 900px;
  height: 300px;
  margin: 0 auto;
  margin-top: 150px;
}
@media (max-width: 900px) {
  .price-page .cancel {
    height: 100%;
  }
}
.price-page .cancel h2 {
  padding-bottom: 15px;
}
.price-page .cancel table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 40px;
}
@media (max-width: 900px) {
  .price-page .cancel table {
    margin-bottom: 10px;
  }
}
.price-page .cancel table th, .price-page .cancel table td {
  padding: 20px;
  border: 1px solid #ddd;
  text-align: center;
}
@media (max-width: 900px) {
  .price-page .cancel table th, .price-page .cancel table td {
    padding: 5px;
    font-size: 12px;
  }
}
.price-page .cancel li {
  font-size: 12px;
  list-style-position: inside;
}
.price-page .pay {
  max-width: 900px;
  height: 150px;
  margin: 0 auto;
  margin-top: 150px;
}
.price-page .pay li {
  font-size: 12px;
  list-style-position: inside;
}

.fadein {
  transform: translateY(1000px);
  transition: 1s;
}

.fadein.show {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 900px) {
  .sp-none {
    display: none;
  }
  p {
    font-size: 12px;
  }
}
.reserve-page {
  width: 90%;
  max-width: 1200px;
  margin: 100px auto;
}
.reserve-page h1 {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 0px;
  transform: translateY(-50%) rotate(-90deg);
  letter-spacing: 0.1em;
  color: rgb(51, 51, 51);
}
@media (max-width: 900px) {
  .reserve-page h1 {
    display: none;
  }
}
.reserve-page .reserve {
  margin-bottom: 100px;
}
.reserve-page .reserve img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  display: block;
}
@media (max-width: 900px) {
  .reserve-page .reserve img {
    height: 200px;
  }
}
.reserve-page .wrapper {
  margin-bottom: 140px;
}
.reserve-page .wrapper h3 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 40px;
  letter-spacing: 0.08em;
}
.reserve-page .wrapper p {
  line-height: 2;
}
.reserve-page .wrapper table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 40px;
}
.reserve-page .wrapper table th,
.reserve-page .wrapper table td {
  border-bottom: 1px solid #ddd;
  padding: 35px 20px;
  vertical-align: top;
  line-height: 2;
}
@media (max-width: 900px) {
  .reserve-page .wrapper table th,
  .reserve-page .wrapper table td {
    font-size: 12px;
  }
}
.reserve-page .wrapper table th {
  width: 180px;
  font-weight: 500;
  text-align: left;
}
.reserve-page .wrapper p {
  font-size: 0.9rem;
  color: #666;
}
@media (max-width: 900px) {
  .reserve-page .wrapper p {
    font-size: 12px;
  }
}
.reserve-page .form iframe {
  width: 100%;
  height: 900px;
  border: none;
}
.reserve-page .rokehan p {
  max-width: 900px;
}
.reserve-page .tel p {
  margin-bottom: 20px;
}
.reserve-page .tel p span {
  display: block;
  margin-top: 10px;
  font-size: 0.9rem;
  color: #777;
}
@media (max-width: 900px) {
  .reserve-page .tel p span {
    font-size: 12px;
  }
}

.information-page {
  width: 90%;
  max-width: 1200px;
  margin: 100px auto;
}
.information-page h1 {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 0px;
  transform: translateY(-50%) rotate(-90deg);
  letter-spacing: 0.1em;
  color: rgb(51, 51, 51);
}
@media (max-width: 900px) {
  .information-page h1 {
    display: none;
  }
}
.information-page .information {
  margin-bottom: 100px;
}
.information-page .information img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  display: block;
}
@media (max-width: 900px) {
  .information-page .information img {
    height: 200px;
  }
}
.information-page .wrapper {
  margin-bottom: 150px;
}
.information-page .wrapper h3 {
  margin-bottom: 40px;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.08em;
}
@media (max-width: 900px) {
  .information-page .wrapper h3 {
    width: fit-content;
    margin: 20px auto;
  }
}
.information-page .wrapper p {
  line-height: 2;
}
.information-page .wrapper .text h3 {
  margin-bottom: 40px;
  font-weight: 400;
}
.information-page .wrapper .text dl {
  display: grid;
  grid-template-columns: 120px 1fr;
  row-gap: 20px;
  margin-bottom: 50px;
}
.information-page .wrapper .text dl dt {
  font-weight: 500;
}
.information-page .wrapper .text dl dd {
  margin: 0;
}
.information-page .wrapper .text dl dd span {
  display: block;
  margin-top: 8px;
  font-size: 0.85rem;
  color: #777;
}
.information-page .wrapper .text p {
  margin-bottom: 30px;
}
.information-page .wrapper iframe {
  width: 100%;
  height: 500px;
  border: none;
  margin-bottom: 70px;
}
.information-page .precautions ul {
  list-style: disc;
  padding-left: 24px;
}
.information-page .precautions ul li {
  font-size: 12px;
  margin-bottom: 15px;
  line-height: 2;
}
.information-page .precautions ul li span {
  border-bottom: 1px solid #333;
  transition: 0.3s;
}
.information-page .precautions ul li span:hover {
  opacity: 0.6;
}
.information-page .precautions .pdf-btn {
  display: block;
  width: 150px;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 5px;
  border-bottom: 1px solid #333;
  transition: 0.3s;
  text-align: center;
}
.information-page .precautions .pdf-btn:hover {
  opacity: 0.6;
}
.information-page .fadein {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1s ease, transform 1s ease;
}
.information-page .fadein.show {
  opacity: 1;
  transform: translateY(0);
}

.contact-page {
  width: 90%;
  max-width: 1200px;
  margin: 100px auto;
}
.contact-page h1 {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 0px;
  transform: translateY(-50%) rotate(-90deg);
  letter-spacing: 0.1em;
  color: rgb(51, 51, 51);
}
@media (max-width: 900px) {
  .contact-page h1 {
    display: none;
  }
}
.contact-page .contact {
  margin-bottom: 100px;
}
.contact-page .contact img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  display: block;
}
@media (max-width: 900px) {
  .contact-page .contact img {
    height: 300px;
  }
}
.contact-page .form {
  margin-bottom: 150px;
}
.contact-page .form h3 {
  margin-bottom: 40px;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 0.08em;
}
.contact-page .form iframe {
  width: 100%;
  height: 1100px;
  border: none;
}
.contact-page .wrapper {
  margin-bottom: 150px;
}
.contact-page .wrapper .text {
  margin-bottom: 60px;
}
.contact-page .wrapper .text h3 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 20px;
  letter-spacing: 0.08em;
}
.contact-page .wrapper .text p {
  line-height: 2;
}
.contact-page .wrapper .text span {
  border-bottom: 1px solid #333;
}
.contact-page .wrapper .faq {
  padding: 35px 0;
  border-bottom: 1px solid #ddd;
}
.contact-page .wrapper .faq:first-of-type {
  border-top: 1px solid #ddd;
}
.contact-page .wrapper .faq p {
  line-height: 2;
}
.contact-page .wrapper .faq p:first-child {
  font-weight: 500;
  margin-bottom: 15px;
}
.contact-page .wrapper .faq p:last-child {
  color: #555;
}
.contact-page .wrapper .faq span {
  border-bottom: 1px solid #333;
  transition: 0.3s;
}
.contact-page .wrapper .faq span:hover {
  opacity: 0.6;
}

footer {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  border-top: 1px solid black;
}

.top {
  border-top: none;
  text-align: center;
  display: block;
}

.footer-left p {
  margin-bottom: 5px;
}

.footer-right p, .footer-right a {
  display: block;
  margin-bottom: 5px;
}/*# sourceMappingURL=style.css.map */