@use "mixin" as m;



.price-page {

    width: 90%;
    max-width: 1400px;
    margin: 100px auto;

    h1 {
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1;
        position: fixed;
        z-index: 100;
        top: 50%;
        left: 0px;
        transform: translateY(-50%) rotate(-90deg);
        letter-spacing: 0.1em;
        color: rgb(51, 51, 51);
    }

    section {
        width: 100%;
        h2 {
            margin-bottom: 15px;
            font-size: 1rem;
            font-weight: 400;
        }
    }

    .price {

        .info-price {
            max-width: 900px;
            height: 600px;
            margin: 0 auto;
            display: flex;
            gap: 20px;

            .info-left {
                width: 45%;
                display: flex;
                flex-direction: column;

                .hour {
                        width: 200px;
                        display: grid;
                        grid-template-columns: 50% 50%;
                        row-gap: 15px;
                        margin-bottom: 30px;
                        font-size: 12px;

                        dt {
                            
                            border: 1px solid #ddd;
                        }
                }

                .notes {
                    li {
                        margin-bottom: 10px;
                        font-size: 12px;
                    }
                }
            }

            .info-right {
                width: 45%;
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-bottom: 40px;

                .card {
                    border: 1px solid #ddd;

                    .plan {
                        margin-bottom: 20px;
                        font-size: 0.9rem;
                        }

                    .price {
                        margin-bottom: 20px;
                        font-size: 16px;

                        span {
                            font-size: .8rem;
                        }
                    }
                }
            }
        }
    }

    .cancel {
        max-width: 900px;
        height: 600px;
        margin: 0 auto;

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 40px;

            th,td {
                padding: 20px;
                border: 1px solid #ddd;
                text-align: center;
            }
        }
        li {
            font-size: 12px;
        }
    }

    .pay {
        max-width: 900px;
        height: 600px;
        margin: 0 auto;
        
        li {
            font-size: 12px;
        }
    }
}
    
    
    
    
    


// animation

.fadein {
//   opacity: 0;
  transform: translateY(1000px);
  transition: 1s;
}

.fadein.show {
  opacity: 1;
  transform: translateY(0);
}




